body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#ChessBoard{
    height:800px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 10px  solid black;
    margin: 10px;
}
.White,.Black{
    width:100px;
    height: 100px;
    
}
.White{
    background-color: lightyellow;
    
}
.Black{
    background-color: rgb(64, 169, 64);
}
img{
    height: 100px;
    width:100px;
    user-select: none;

}
#White_captured{
    margin: 10px;
    height:200px;
    width:800px;
    border: 10px solid black;
}
#Black_captured{
    margin: 10px;
    height:200px;
    width:800px;
    border: 10px solid black;
}
*{
    user-select: none;
}